<%- include("../../views/partials/admin/header") %>
<body>
    <div class="main-content">
        <section class="content-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Welcome to the Men Fashion Dashboard</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Here you can manage your products, orders, and customers.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include("../../views/partials/admin/footer") %>