<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <form action="/signup" method="post">
      
      <label for="">Enter Full Name</label>
      <input type="text" name="name">
      <br><br>
      <label for="">Enter Email</label>
      <input type="email" name="email">
      <br><br>
      <label for="">Enter Phone number</label>
      <input type="text" name="phNumber">
      <br><br>
      <label for="">Enter Password</label>
      <input type="password" name="password">
      <br><br>
      <label for="">Confirm Password</label>
      <input type="password" name="confirmPassword">
      <br><br>
      <input type="submit" value="Signup">
    </form>
    <br><br>
    <div>
      <form action="">
        <input type="submit" name="googleLogin" value="Login with google">
      </form>
    </div>
  </section>
</body>
</html>